.headerSvg {
    width: 45px;
    height: 45px;
}

.rating {
    display: inline-block;
    font-size: 30px;
    color: #ffba00;
}

.stars {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}