<section id="not-found" class="h-100 overflow-hidden">
    <div class="circles bg-white text-center position-relative h-100">
        <p class="m-0 d-flex flex-column h-100 position-relative">
            {{ errorNumber }}
            <small>{{ ('ERROR.' + errorNumber) | translate }}</small>

            <small class="mt-4">
                <a [routerLink]="['/']" class="font-30">{{ 'HOME' | translate }}</a>
            </small>

            <small class="mt-3 font-22 cursor-pointer" (click)="logout()">
                <a class="text-primary" [routerLink]="['/']">{{ 'LOGOUT' | translate }}</a>
            </small>
        </p>

        <span class="circle position-absolute big"></span>
        <span class="circle position-absolute med"></span>
        <span class="circle position-absolute small"></span>
    </div>
</section>
