@import "style";

.stores-box {
    img.store-img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        min-height: 216px;
        max-height: 250px;
    }

    .address {
        height: 60px;
        direction: rtl;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        cursor: pointer;
    }

    .storeHeader {
        color: $dark ;
    }

    .storeHeader:hover {
        color: $primary;
        cursor: pointer;
    }
}