<section class="best-seller-wrapper p-0 pt-4 mt-4">
    <div class="container-lg">
        <div class="d-flex flex-column align-items-center best-seller-header">
            <h2 class="m-0 text-dark font-24 d-flex align-items-center fw-bold" setRtl>
                <span class="text-primary mx-2">{{ 'BEST_SELLER.BEST' | translate }}</span>
                {{ 'BEST_SELLER.SELLER' | translate }}
            </h2>

            <del-sub-title title="BEST_SELLER.HINT" fontSize="text-center"></del-sub-title>
        </div>

        <!-- best-seller-content -->
        <div class="best-seller-content position-relative mt-4" id="bestSeller">
            <ng-container *ngIf="bestSelerItems.length">
                <swiper [slides]="bestSelerItems" [config]="config">
                    <ng-template swiperSlide let-product>
                        <del-product [product]="product" (action)="doAction($event, product)"></del-product>
                    </ng-template>
                </swiper>

                <div class="swiper-button w-100 h-100 position-absolute top-0 d-flex align-items-center justify-content-between">
                    <button class="d-flex justify-content-center align-items-center swiper-next" aria-label="Swiper Next Button" setRtl>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                            <path fill-rule="evenodd"
                                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>

                    <button class="d-flex justify-content-center align-items-center swiper-prev" aria-label="Swiper Previous Button" setRtl>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                            <path fill-rule="evenodd"
                                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <!-- <a href="shop-left-sidebar.html" class="btn-solid btn-sm mb-line center-button">عرض كل العروض </a> -->
            </ng-container>
        </div>
    </div>
</section>

<ng-template #productDetails>
    <del-product-details class="d-block py-3" [isModalView]="true" [product]="product"></del-product-details>
</ng-template>
