<section class="shop-page d-flex flex-column flex-grow-1 h-100" (window:resize)="setActiveFilterClass()">
  <div class="container-lg h-100">
    <div class="row h-100">
      <div class="col-lg-3 col-xl-2 d-none d-lg-block">
        <del-category-sidebar></del-category-sidebar>
      </div>

      <div class="col-lg-9 col-xl-10">
        <div class="products-wrapper">
          <div
               class="filter-wrapper w-100 d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between gap-3 gap-lg-0">
            <span class="filter-btn d-flex d-lg-none align-items-center px-3 py-2 font-14 fw-500 bg-primary text-white position-relative gap-2"
                  (click)="drawerToggle()">
              {{ 'ACTIONS.FILTER_RESULT' | translate }}

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="14">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z" />
              </svg>
            </span>

            <div class="filter-options d-flex align-items-center justify-content-between w-100">
              <div class="select-menu d-flex align-items-center gap-4">
                <del-menu menuClass="mt-2 box-shadow" btnClass="border default border-radius-4 justify-content-start justify-content-xl-center px-4">
                  <span matMenuLabel class="d-flex">{{ 'ACTIONS.SORT_RESULTS' | translate }}</span>

                  <del-menu-item matMenuContent *ngFor="let filterOption of filterOptions" (click)="sort(filterOption.optionCode)">
                    {{ filterOption.optionName | translate }}
                  </del-menu-item>
                </del-menu>

                <del-pagination [pageNumber]="pageNumber" [totalCount]="products.length" (pageSelected)="pageNumber = $event; getProducts();">
                </del-pagination>
              </div>

              <!-- filter-options | grid -->
              <ul class="filter-options-grid d-none d-sm-flex gap-2 mb-0">
                <li class="nav-item d-none d-sm-flex cursor-pointer" (click)="activeFilterOption = 'col-sm-6'">
                  <span class="d-flex align-items-center justify-content-center p-1 border border-primary border-radius-4 bg-white text-middle"
                        [ngClass]="{'bg-primary text-light': activeFilterOption === 'col-sm-6'}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                    </svg>
                  </span>
                </li>

                <li class="nav-item d-none d-sm-flex cursor-pointer" (click)="activeFilterOption = 'col-sm-4'">
                  <span class="d-flex align-items-center justify-content-center p-1 border border-primary border-radius-4 bg-white text-middle"
                        [ngClass]="{'bg-primary text-light': activeFilterOption === 'col-sm-4'}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                    </svg>
                  </span>
                </li>

                <li class="nav-item d-none d-xl-flex cursor-pointer" (click)="activeFilterOption = 'col-xl-3'">
                  <span class="d-flex align-items-center justify-content-center p-1 border border-primary border-radius-4 bg-white text-middle"
                        [ngClass]="{'bg-primary text-light': activeFilterOption === 'col-xl-3'}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                  </span>
                </li>

                <!-- <li class="nav-item d-none d-sm-flex cursor-pointer" (click)="activeFilterOption = 'list'">
                  <span class="d-flex align-items-center justify-content-center p-1 border border-primary border-radius-4 bg-white text-middle"
                        [ngClass]="{'bg-primary text-light': activeFilterOption === 'list'}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                  </span>
                </li> -->
              </ul>
            </div>
          </div>

          <div class="products-content mt-3">
            <div class="row">
              <div [class]="activeFilterOption" [ngClass]="{'mt-3': true}" *ngFor="let product of products; let i=index">
                <del-product [product]="product" (action)="doAction($event, product)"></del-product>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #productDetails>
  <del-product-details class="d-block py-3" [isModalView]="true" [product]="product"></del-product-details>
</ng-template>
