$primary: #B72227;
$primary-light: rgba($primary, 0.10);

$secondary: #262834;
$secondary-light: rgba($secondary, 0.25);

$page-bg: rgba(229, 229, 229, 0.3);
$border-color: #e8e8e8;

$white: white;
$black: black;
$light: #F4F4F5;
$dark: #262834;

$text-light: #d9d9d9;
$middle: #7f8897;

$success: #10B981;
$success-light: rgba($success, 0.11);

$error: #EF4444;
$error-light: rgba($error, 0.11);

$pending: #ffba00;
$pending-light: rgba($pending, 0.11);

:root {
    --translateX: -100%;
    --primary: var(--#{$primary});
    --primary-light: var(--#{$primary-light});
    --secondary: var(--#{$secondary});
    --secondary-light: var(--#{$secondary-light});
}

[dir="rtl"] {
    --translateX: 100%;
}