<del-header-top></del-header-top>

<header class="header bg-white">
    <div class="container-lg">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between">
            <!-- Navigation Start -->
            <nav class="navigation w-100 py-2">
                <div class="navbar navbar-expand-xl navbar-light navbar-sticky position-static gap-lg-5 w-100 p-0">
                    <div class="d-flex align-items-center justify-content-between justify-content-md-start flex-row-reverse flex-md-row logo-wraper">
                        <button class="navbar-toggler p-0 border-0" type="button" (click)="drawerToggle()">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <a class="logo-link mx-2" routerLink="/">
                            <img class="logo" src="assets/images/logos/logo.png" alt="Delmar & Attallah's logo" />
                        </a>
                    </div>

                    <!-- search-bar -->
                    <div class="search-bar position-relative d-none d-xl-inline-block">
                        <div class="input-group d-flex align-items-center w-100 position-relative border default border-radius-4">
                            <input type="text" class="form-control bg-white search-type" [(ngModel)]="searchValue"
                                   [placeholder]="'SEARCHBAR_PLACEHOLDER' | translate" />

                            <div class="input-group-append m-0">
                                <span class="input-group-text bg-primary cursor-pointer m-0" (click)="onSearch()">
                                    <svg class="search-b text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" width="24" height="24">

                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navigation End -->

            <!-- Menu Right Start  -->
            <div class="list-menu d-flex align-items-center align-self-end">
                <!-- Icon Menu Start -->
                <mat-list class="d-flex align-items-center p-0" role="list">
                    <!-- User -->
                    <mat-list-item role="listitem" class="px-1 overflow-visible">
                        <del-menu menuClass="mt-2 box-shadow" btnClass="h-40 w-max" btnAriaLabel="User">
                            <svg matMenuLabel xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" width="24" height="24">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>

                            <del-menu-item matMenuContent [routerLink]="menuItem.menuItemRoute || null"
                                           (click)="menuItem.onClick ? menuItem.onClick() : null" *ngFor="let menuItem of userMenuItems">
                                {{ menuItem.menuItemName | translate }}
                            </del-menu-item>
                        </del-menu>
                    </mat-list-item>

                    <!-- Favorite -->
                    <mat-list-item role="listitem" class="px-1 overflow-visible item-border">
                        <del-menu menuClass="mt-2" btnClass="w-max" btnAriaLabel="Favorite">
                            <div matMenuLabel matBadge="4" matBadgePosition="after" matBadgeSize="small" matBadgeColor="warn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     width="24" height="24">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                                </svg>
                            </div>

                            <div class="p-3" matMenuContent>
                                <div class="d-flex flex-column gap-3">
                                    <ng-container *ngFor="let favorite of favorites.slice(0, maxItemsToShow)">
                                        <del-product-popup-item [item]="favorite.Item"></del-product-popup-item>                                        
                                    </ng-container>
                                </div>

                                <del-button btnClass="primary text-white font-16 h-40 bg-primary mt-3" routerLink="/favorites">
                                    {{ "ACTIONS.SHOW_MORE" | translate }}
                                </del-button>
                            </div>
                        </del-menu>
                    </mat-list-item>

                    <!-- Cart -->
                    <mat-list-item role="listitem" class="px-1 overflow-visible">
                        <del-menu menuClass="mt-2" btnClass="w-max" btnAriaLabel="Shopping Cart">
                            <div matMenuLabel matBadge="4" matBadgePosition="after" matBadgeSize="small" matBadgeColor="warn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     width="24" height="24">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                </svg>
                            </div>

                            <div matMenuContent>
                                <!-- Enter Cart content here... -->
                            </div>
                        </del-menu>
                    </mat-list-item>
                </mat-list>
                <!-- Icon Menu End -->
            </div>
            <!-- Menu Right End  -->
        </div>
    </div>
</header>

<div class="d-none d-xl-block">
    <del-header-categories></del-header-categories>
</div>
