@import "style";

.search-bar {
    width: 50%;

    .input-group {
        .form-control {
            height: auto;
            border-radius: 0;
            border: none;

            &:focus {
                box-shadow: none;
            }
        }

        .input-group-text {
            padding: 12px 16px;
            border: none;
            border-radius: 0 4px 4px 0;
        }
    }
}

::ng-deep .mat-mdc-autocomplete-panel {
    .mdc-list-item {
        padding: 0;
        overflow: visible;

        &:hover {
            .mdc-list-item__primary-text {
                .item-card {
                    .media-body {
                        .item-info {
                            .item-title {
                                color: $primary !important;
                            }
                        }
                    }
                }
            }
        }

        .mdc-list-item__primary-text {
            overflow: visible;
            width: 100%;
            margin-bottom: 10px;

            .item-card {
                .media-body {
                    .item-info {
                        .item-title {
                            max-width: 340px !important;
                        }
                    }
                }
            }
        }
    }
}