<div class="search-bar position-relative d-none d-xl-inline-block">
    <div class="input-group d-flex align-items-center w-100 position-relative border default border-radius-4">
        <input type="text" class="form-control bg-white search-type" [matAutocomplete]="auto" [formControl]="searchControl"
               [placeholder]="'SEARCHBAR_PLACEHOLDER' | translate" />

        <div class="input-group-append m-0">
            <span class="input-group-text bg-primary cursor-pointer m-0">
                <svg class="search-b text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" width="24" height="24">

                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </span>
        </div>
    </div>

    <mat-autocomplete (optionSelected)="searchControl.reset()" #auto="matAutocomplete">
        <mat-option [disabled]="!isLoading" *ngIf="!filteredItems.length && searchControl.value">
            <ng-container *ngIf="isLoading; else empty">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 100 100" width="100%" height="30">
                    <circle cx="-78" cy="50" r="30" fill="#3498db">
                        <animateTransform attributeName="transform" begin=".1" dur="1s" repeatCount="indefinite" type="translate"
                                          values="0 15 ; 0 -15; 0 15" />
                    </circle>
                    <circle cx="6" cy="50" r="30" fill="#e74c3c">
                        <animateTransform attributeName="transform" begin=".2" dur="1s" repeatCount="indefinite" type="translate"
                                          values="0 10 ; 0 -10; 0 10" />
                    </circle>
                    <circle cx="84" cy="50" r="30" fill="#2ecc71">
                        <animateTransform attributeName="transform" begin=".3" dur="1s" repeatCount="indefinite" type="translate"
                                          values="0 5 ; 0 -5; 0 5" />
                    </circle>
                </svg>
            </ng-container>

            <ng-template #empty>
                <span class="px-3">
                    {{ 'EMPTY.SEARCH' | translate }}
                </span>
            </ng-template>
        </mat-option>

        <mat-option *ngFor="let item of filteredItems" [value]="item">
            <del-product-popup-item [item]="item" [showRemoveIcon]="false"></del-product-popup-item>
        </mat-option>
    </mat-autocomplete>
</div>
