<div class="modal-container d-flex flex-column">
    <div class="modal-header bg-header" mat-dialog-header>
        <h1 class="m-0 p-0 font-22 regular text-primary" mat-dialog-title>{{ pageTitle | translate }}</h1>
    </div>

    <div class="px-4 pt-2 pb-4 m-0 bg-light" mat-dialog-content>
        <form method="post" class="row" [formGroup]="editAccountForm" *ngIf="editAccountForm">
            <del-account-info-form [formGroup]="editAccountForm"></del-account-info-form>
        </form>
    </div>

    <div class="modal-footer w-100 d-flex justify-content-end gap-3" mat-dialog-actions>
        <del-button btnClass="text-primary font-14" mat-dialog-close>
            {{ 'ACTIONS.CANCEL' | translate }}
        </del-button>

        <del-button btnClass="primary font-14 px-4" type="submit" [disabled]="editAccountForm.invalid" (onClick)="submit()">
            {{ 'ACTIONS.SAVE' | translate }}
        </del-button>
    </div>
</div>
