@import "style";

:host ::ng-deep.mat-checkbox {
    .mat-checkbox-layout {
        margin: 0;
    }

    &.mat-checkbox-checked,
    &.mat-checkbox-indeterminate {
        &.mat-bg-primary {

            .mat-ripple-element,
            .mat-checkbox-background {
                background-color: $primary;
            }
        }

        &.mat-bg-error-light {

            .mat-ripple-element,
            .mat-checkbox-background {
                background-color: $error;
            }
        }
    }
}
