<div class="modal-container d-flex flex-column">
    <div class="modal-header bg-header" mat-dialog-header>
        <h1 class="m-0 font-22 regular text-dark" mat-dialog-title>{{ 'COMPLETE_REGISTRATION.TITLE' | translate }}</h1>
    </div>

    <div class="modal-content px-4 py-3 m-0" mat-dialog-content>
        <form [formGroup]="createAccountForm" *ngIf="createAccountForm">
            <!-- personal-info -->
            <div class="personal-info position-relative border default mt-2 px-2 pb-2 border-radius-4">
                <h3 class="m-0 font-18 position-absolute d-flex bg-white px-2 personal-info-title">
                    {{ 'COMPLETE_REGISTRATION.PERSONAL_INFO' | translate }}
                </h3>

                <div class="px-2 mt-2">
                    <del-account-info-form [formGroup]="createAccountForm"></del-account-info-form>
                </div>
            </div>

            <div class="addresses position-relative border default mt-4 px-2 pb-2 border-radius-4" formGroupName="Addresses">
                <h3 class="m-0 font-18 position-absolute d-flex bg-white px-2 addresses-title">
                    {{ 'COMPLETE_REGISTRATION.ADDRESS' | translate }}
                </h3>

                <div class="px-2 mt-2">
                    <div class="row mt-3">
                        <!-- City -->
                        <div class="col-md-6">
                            <del-dropdown [formGroup]="Addresses" controlName="City" [options]="cities"
                                          [label]="'COMPLETE_REGISTRATION.CITY' | translate" (selected)="getAreas($event)">
                            </del-dropdown>
                        </div>

                        <!-- Area -->
                        <div class="col-md-6" *ngIf="areas.length">
                            <del-dropdown [formGroup]="Addresses" controlName="Area" [options]="areas"
                                          [label]="'COMPLETE_REGISTRATION.AREA' | translate">
                            </del-dropdown>
                        </div>

                        <!-- HouseNo -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="HouseNo" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.HOUSE_NO' | translate">
                            </del-input-text>
                        </div>

                        <!-- Street -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="Street" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.STREET' | translate">
                            </del-input-text>
                        </div>

                        <!-- FloorNo -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="FloorNo" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.FLOOR_NO' | translate">
                            </del-input-text>
                        </div>

                        <!-- ApartmentNo -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="ApartmentNo" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.APARTMENT_NO' | translate">
                            </del-input-text>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer w-100">
        <div class="d-flex justify-content-end w-100 py-2" mat-dialog-actions>
            <del-button btnClass="primary text-white px-4" type="submit" mat-dialog-close [disabled]="createAccountForm.invalid"
                        (onClick)="createAccount()">
                {{ 'ACTIONS.COMPLETE' | translate }}
            </del-button>
        </div>
    </div>
</div>
