<div class="modal-container d-flex flex-column">
    <div class="modal-header bg-header" mat-dialog-header>
        <h1 class="m-0 font-22 regular text-dark" mat-dialog-title>{{ 'COMPLETE_REGISTRATION.TITLE' | translate }}</h1>
    </div>

    <div class="modal-content px-4 py-3 m-0" mat-dialog-content>
        <form [formGroup]="createAccountForm" *ngIf="createAccountForm">
            <!-- personal-info -->
            <div class="personal-info position-relative border default mt-2 px-2 pb-2 border-radius-4">
                <h3 class="m-0 font-18 position-absolute d-flex bg-white px-2 personal-info-title">
                    {{ 'COMPLETE_REGISTRATION.PERSONAL_INFO' | translate }}
                </h3>

                <div class="px-2 mt-2">
                    <div class="row mt-3">
                        <!-- FirstName -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="createAccountForm" controlName="FirstName" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.FIRST_NAME' | translate">
                            </del-input-text>
                        </div>

                        <!-- LastName -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="createAccountForm" controlName="LastName" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.LAST_NAME' | translate">
                            </del-input-text>
                        </div>

                        <!-- MOBILE_NUMBER -->
                        <div class="col-12">
                            <del-input-text [formGroup]="createAccountForm" contentType="number" controlName="Phone" appearance="outline"
                                            [label]="'ACCOUNT.MOBILE_NUMBER' | translate">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     width="20" height="20" matPrefix>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                </svg>
                            </del-input-text>
                        </div>

                        <!-- EMAIL -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="createAccountForm" contentType="email" controlName="Email" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.EMAIL' | translate">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     width="20" height="20" matPrefix>
                                    <path stroke-linecap="round"
                                          d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                                </svg>
                            </del-input-text>
                        </div>

                        <!-- BIRTH_DATE -->
                        <div class="col-md-6">
                            <del-datepicker [formGroup]="createAccountForm" [maxDate]="today" controlName="BirthDay"
                                            [label]="'COMPLETE_REGISTRATION.BIRTH_DATE' | translate">
                            </del-datepicker>
                        </div>

                        <!-- GENDER -->
                        <div class="col-12">
                            <del-radio-button [formGroup]="createAccountForm" controlName="Gender" [options]="genders"
                                              [label]="'COMPLETE_REGISTRATION.GENDER' | translate">
                            </del-radio-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="addresses position-relative border default mt-4 px-2 pb-2 border-radius-4" formGroupName="Addresses">
                <h3 class="m-0 font-18 position-absolute d-flex bg-white px-2 addresses-title">
                    {{ 'COMPLETE_REGISTRATION.ADDRESS' | translate }}
                </h3>

                <div class="px-2 mt-2">
                    <div class="row mt-3">
                        <!-- City -->
                        <div class="col-md-6">
                            <del-dropdown [formGroup]="Addresses" controlName="City" [options]="cities"
                                          [label]="'COMPLETE_REGISTRATION.CITY' | translate" (selected)="getAreas($event)">
                            </del-dropdown>
                        </div>

                        <!-- Area -->
                        <div class="col-md-6" *ngIf="areas.length">
                            <del-dropdown [formGroup]="Addresses" controlName="Area" [options]="areas"
                                          [label]="'COMPLETE_REGISTRATION.AREA' | translate">
                            </del-dropdown>
                        </div>

                        <!-- HouseNo -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="HouseNo" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.HOUSE_NO' | translate">
                            </del-input-text>
                        </div>

                        <!-- Street -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="Street" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.STREET' | translate">
                            </del-input-text>
                        </div>

                        <!-- FloorNo -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="FloorNo" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.FLOOR_NO' | translate">
                            </del-input-text>
                        </div>

                        <!-- ApartmentNo -->
                        <div class="col-md-6">
                            <del-input-text [formGroup]="Addresses" controlName="ApartmentNo" appearance="outline"
                                            [label]="'COMPLETE_REGISTRATION.APARTMENT_NO' | translate">
                            </del-input-text>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer w-100">
        <div class="d-flex justify-content-end w-100 py-2" mat-dialog-actions>
            <del-button btnClass="primary text-white px-4" type="submit" mat-dialog-close [disabled]="createAccountForm.invalid"
                        (onClick)="createAccount()">
                {{ 'ACTIONS.COMPLETE' | translate }}
            </del-button>
        </div>
    </div>
</div>
