.offers-wrapper {
    .offers-header {
        p {
            max-width: 540px;
        }
    }

    .offers-content {
        .offers-box {
            img {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                aspect-ratio: 3 / 2;
                object-fit: fill;
            }
        }
    }
}