<div class="item-card d-flex align-items-center gap-2 p-2 bg-light" (isEnglish)="isEnglish = $event">
    <img [src]="item.Images[0].Location" [alt]="item.Description + '\'s Image'"
         (error)="item.Images[0].Location = 'assets/images/common/Product_Image_Placeholder.png'" width="70px" height="60px" />

    <div class="media-body d-flex align-items-center">
        <div class="item-info">
            <h6 class="text-dark m-0 font-12">{{ item.Description }}</h6>

            <span class="text-primary font-14">
                {{ formatNumber(item.ItemPrice) }}
            </span>
        </div>

        <a class="remove-item d-flex align-self-start cursor-pointer text-middle px-1" (click)="remove()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" width="20px"
                 height="20px">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </a>
    </div>
</div>
