$menu-item-height: 40px;

* {
  letter-spacing: normal;
}

a {
  text-decoration: none !important;
  color: inherit;
  outline: none;
  transition: 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5 !important;
}

body {
  text-align: start;
  background-color: $page-bg;
}

/* Scrollbar Styles Start Here*/
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

// menu
.mat-menu-panel {
  margin-top: .5rem;
  min-width: 130px !important;
  min-height: $menu-item-height !important;

  .mat-menu-content {
    padding: 0 !important;

    .mat-list {
      .mat-list-item {
        height: $menu-item-height !important;

        .mat-list-item-content {
          .mat-menu-item {
            height: $menu-item-height !important;
            align-items: center;
          }
        }
      }
    }
  }
}

// mat-slider
.mat-slider {
  &:not(.mat-slider-disabled) {
    &.cdk-focused {
      .mat-slider-thumb-label {
        border-radius: 0 !important;
        transform: none;
        background-color: $white;
        box-shadow: 0 2px 10px 0 rgba(142, 154, 160, 0.22);

        .mat-slider-thumb-label-text {
          transform: none;
          color: $primary;
        }
      }
    }
  }

  &.mat-accent {
    .mat-slider-thumb-label {
      background-color: $primary;
    }
  }

  .mat-slider-wrapper {
    height: 6px !important;

    .mat-slider-track-wrapper {
      border-radius: 2.5px;
      height: 6px !important;

      * {
        height: 6px !important;
      }

      .mat-slider-track-background {
        background-color: #f3f3f1 !important;
      }

      .mat-slider-track-fill {
        background-color: $secondary !important;
        transition: all .4s ease;
      }
    }

    .mat-slider-thumb {
      border-radius: 2px;
      box-shadow: 0 4px 10px 0 rgba(12, 0, 51, 0.22);
      background-color: $primary !important;
    }
  }
}

// mat-slide-toggle
.mat-slide-toggle {
  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: rgba($color: $primary, $alpha: .54);

      .mat-slide-toggle-thumb {
        background: $primary;
      }
    }
  }

  .mat-slide-toggle-content {
    font-family: $font-regular;
  }
}

// modal
.cdk-overlay-pane {
  max-width: 90vw !important;
  max-height: 90vh !important;

  .mat-mdc-dialog-container {
    min-width: 90%;
    height: 90vh;
  }

  .mat-mdc-dialog-actions {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 1.5rem;
  }

  .modal-header {
    --bs-modal-header-padding: 0;
    --bs-modal-header-border-width: 1px;
    --bs-modal-header-border-color: #{$text-light};
    --bs-modal-inner-border-radius: .5rem;
  }

  .modal-footer {
    --bs-modal-header-padding: 0;
    --bs-modal-footer-border-width: 1px;
    --bs-modal-footer-border-color: #{$text-light};
    --bs-modal-inner-border-radius: .5rem;
  }

  &.p-0 {
    .mat-mdc-dialog-container {
      padding: 0;
    }
  }

  &.overview {
    .mat-mdc-dialog-content {
      overflow: visible;
    }
  }

  &.small {
    .mat-mdc-dialog-container {
      @include small-screen {
        min-width: clamp(400px, 50vw, 400px);
        max-width: clamp(400px, 50vw, 400px);
        height: auto;
      }
    }
  }

  &.medium {
    .mat-mdc-dialog-container {
      @include small-screen {
        min-width: clamp(500px, 60vw, 500px);
        max-width: clamp(900px, 60vw, 900px);
        height: auto;
      }

      @include medium-screen {
        min-width: clamp(700px, 60vw, 700px);
      }
    }
  }

  &.min-width {
    .mat-mdc-dialog-container {
      min-width: 90%;

      @include small-screen {
        min-width: 560px;
      }
    }
  }

  &.default {
    .mat-mdc-dialog-container {
      min-width: 90%;
      height: 90vh;

      @include small-screen {
        min-width: clamp(560px, 50vw, 560px);
        height: auto;
      }

      @include normal-screen {
        min-width: clamp(800px, 70vw, 800px);
        height: auto;
      }
    }
  }
}

// tooltip
.cdk-overlay-container {
  .mat-tooltip-panel {
    .mat-tooltip {
      background-color: $white;
      color: $black;
      margin: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.32), 0 0 2px 0 rgba(0, 0, 0, 0.04);
    }
  }
}

// swiper-button
.swiper-button {
  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $white;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 92, 95, 0.13);

    &:hover {
      background: $primary;
      color: $white;
    }
  }

  .swiper-next {
    z-index: 5;

    &.rtl {
      svg {
        rotate: 180deg;
      }
    }
  }

  .swiper-prev {
    z-index: 5;

    svg {
      rotate: 180deg;
    }

    &.rtl {
      svg {
        rotate: 0deg;
      }
    }
  }
}