<section class="categories-wrapper p-0 pt-4" (isEnglish)="isEnglish = $event" *ngIf="categories.length">
    <div class="container-lg">
        <div class="d-flex flex-column align-items-center categories-header">
            <h2 class="m-0 text-dark font-24 d-flex align-items-center fw-bold" setRtl>
                <span class="text-primary mx-2">{{ 'APP_TITLE' | translate }}</span>
                {{ 'CATEGORIES.TITLE' | translate }}
            </h2>

            <p class="m-0 mt-2 font-16 text-middle">{{ 'CATEGORIES.HINT' | translate }}</p>
        </div>

        <div class="categories-content position-relative mt-4">
            <swiper [slides]="categories" [config]="config">
                <ng-template swiperSlide let-category>
                    <div class="swiper-slide d-flex justify-content-center">
                        <div class="catagories-box bg-white">
                            <a class="d-flex flex-column align-items-center h-100" [routerLink]="'/products/' + category.Id.replaceAll(' ', '_')">
                                <img class="img-fluid" [src]="category.Images[0].Location" loading="lazy" [alt]="category.Description" />

                                <h4 class="m-0 py-2 w-100 font-20 text-dark text-capitalize text-truncate">
                                    {{ isEnglish ? (category.Description | lowercase) : category.ArabicDescription }}
                                </h4>
                            </a>
                        </div>
                    </div>
                </ng-template>
            </swiper>

            <div class="swiper-button w-100 h-100 position-absolute top-0 d-flex align-items-center justify-content-between">
                <button class="d-flex justify-content-center align-items-center swiper-next" setRtl>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                        <path fill-rule="evenodd"
                              d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                              clip-rule="evenodd" />
                    </svg>
                </button>

                <button class="d-flex justify-content-center align-items-center swiper-prev" setRtl>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                        <path fill-rule="evenodd"
                              d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                              clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
