@import "style";

.categories-wrapper {
    .categories-header {
        h2 {
            &.rtl {
                flex-direction: row-reverse;
            }
        }

        p {
            max-width: 540px;
        }
    }

    .categories-content {
        .swiper-slide {
            .catagories-box {
                width: 100%;

                img {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    aspect-ratio: 3 / 2;
                    object-fit: cover;
                    height: 190px;
                }
            }
        }
    }
}