<!-- Bottom Header -->
<div class="bottom-header p-2 h-100" (isEnglish)="isEnglish = $event">
    <div class="container-lg">
        <div class="d-flex align-items-center">
            <mat-list class="d-flex flex-column flex-xl-row align-items-center p-0" role="list">
                <!-- All Categories -->
                <mat-list-item role="listitem" class="p-0 h-40 bg-primary overflow-visible mend-xl-5">
                    <del-menu menuClass="mt-2 box-shadow categories-menu" btnClass="h-40">
                        <span matMenuLabel class="d-flex align-items-center gap-2 px-3 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
                            </svg>

                            {{ "CATEGORIES.ALL_CATEGORIES" | translate }}
                        </span>

                        <del-menu-item matMenuContent *ngFor="let category of categories"
                                       [routerLink]="category.route ? category.route : ('/products/' + category.Id.replaceAll(' ', '_'))">
                            {{ isEnglish ? (category.Description | lowercase) : category.ArabicDescription }}
                        </del-menu-item>
                    </del-menu>
                </mat-list-item>

                <!-- Home -->
                <mat-list-item role="listitem" class="px-1 overflow-visible" *ngIf="categories.length">
                    <del-menu menuClass="mt-2" btnClass="h-40 justify-content-start justify-content-xl-center" [isMenuTrigger]="false">
                        <a matMenuLabel class="d-flex font-16" [ngClass]="{'text-primary': isHome}" routerLink="/">{{ "HOME" | translate }}</a>
                    </del-menu>
                </mat-list-item>

                <!-- Categories -->
                <mat-list-item role="listitem" class="px-1 overflow-visible" *ngFor="let category of categories">
                    <del-menu menuClass="mt-2 box-shadow categories-menu" btnClass="h-40 justify-content-start justify-content-xl-center"
                              [isMenuTrigger]="category.ProductGroups?.length ? true : false">
                        <a matMenuLabel class="d-flex font-16 text-capitalize" [ngClass]="{'text-primary': isActiveCategory(category.Id)}"
                           [routerLink]="category.route" routerLinkActive="text-primary" *ngIf="category.route">
                            {{ isEnglish ? category.Description : category.ArabicDescription }}
                        </a>

                        <span matMenuLabel class="d-flex font-16 text-capitalize" [ngClass]="{'text-primary': isActiveCategory(category.Id)}"
                              routerLinkActive="text-primary" *ngIf="!category.route">
                            {{ isEnglish ? category.Description : category.ArabicDescription }}
                        </span>

                        <div [ngClass]="{'row': (category.ProductGroups?.length || 0) > maxItemCount }" matMenuContent
                             *ngIf="category.ProductGroups?.length">

                            <del-menu-item [ngClass]="{'col-xl-4': (category.ProductGroups?.length || 0) > maxItemCount }"
                                           [routerLink]="getSubCategoryRouterLink(category.Id, ProductGroup.Id || null).routerLink"
                                           [queryParams]="getSubCategoryRouterLink(category.Id, ProductGroup.Id || null).queryParams"
                                           *ngFor="let ProductGroup of category.ProductGroups">
                                {{ isEnglish ? (ProductGroup.Description | lowercase) : ProductGroup.ArabicDescription }}
                            </del-menu-item>
                        </div>
                    </del-menu>
                </mat-list-item>

                <!--Offers-->
                <mat-list-item role="listitem" class="px-1 overflow-visible" *ngIf="categories.length">
                    <del-menu menuClass="mt-2" btnClass="h-40 " [isMenuTrigger]="false">
                        <a matMenuLabel class="d-flex font-16" routerLink="offers">{{ "OFFERS.TITLE" | translate }}</a>
                    </del-menu>
                </mat-list-item>

                <!--Stores-->
                <mat-list-item role="listitem" class="px-1 overflow-visible" *ngIf="categories.length">
                    <del-menu menuClass="mt-2" btnClass="h-40 " [isMenuTrigger]="false">
                        <a matMenuLabel class="d-flex font-16" routerLink="stores">{{ "STORES" | translate }}</a>
                    </del-menu>
                </mat-list-item>

                <!-- Magazine -->
                <mat-list-item role="listitem" class="px-1 overflow-visible" *ngIf="categories.length">
                    <del-menu menuClass="mt-2" btnClass="h-40" [isMenuTrigger]="false">
                        <a matMenuLabel class="d-flex font-16" [href]="magazineURL" target="_blank">{{ "MAGAZINES" | translate }}</a>
                    </del-menu>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
