@import "style";

.bottom-header {
    background-color: rgba(229, 229, 229, 0.3);
}

::ng-deep.categories-menu {

    &.mat-mdc-menu-panel.mat-mdc-menu-panel {
        @include large-screen {
            width: 100% !important;
            max-width: 600px;
        }
    }
}
