<div class="container-lg mt-5">
    <div class="row g-3 g-xxl-4">
        <div class="col-sm-6 col-lg-3 mt-3" *ngFor="let magazine of magazines; let i = index">
            <div class="magazines-box w-100 border-radius-8 bg-white box-shadow">
                <ng-template [ngTemplateOutlet]="magazineRef" [ngTemplateOutletContext]="{ $implicit: magazine }"></ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #magazineRef let-magazine>
    <a class="text-dark border-radius-8" [href]="magazine.URL" target="_blank">
        <div class="border-radius-8 d-flex flex-column align-items-center h-100">
            <img class="img-fluid" [src]="magazine.Image" loading="lazy" [alt]="magazine.DescriptionCity" #magazineImage
                 (error)="setMagazinePlaceholderImage(magazine); magazineImage.style.objectFit = 'contain'; magazineImage.style.borderBottom = '1px solid #d9d9d9'" />

            <h3 class="m-0 font-20 text-center fw-700 text-capitalize text-truncate w-100 p-3">
                {{ magazine.Description }}
            </h3>
        </div>
    </a>
</ng-template>
