<div class="form-group d-flex flex-column m-0" [formGroup]="formGroup" *ngIf="formGroup"
     [ngClass]="{'mb-3': formGroup.get(controlName)?.errors && formGroup.get(controlName)?.touched}">
    <mat-form-field class="text-start transparent" [appearance]="appearance">
        <mat-label [attr.for]="controlName" class="text-middle font-16">{{ label }}</mat-label>

        <input matInput [id]="controlName" [formControlName]="controlName" [type]="contentType" *ngIf="inputType === 'textbox'" min="0" style="height: 20px;"
               (keydown)="formGroup.get(controlName)?.markAsTouched()" [readonly]="readonly">

        <textarea matInput [id]="controlName" [formControlName]="controlName" [readonly]="readonly" [rows]="textareaRows"
                  (keydown)="formGroup.get(controlName)?.markAsTouched()" *ngIf="inputType === 'textarea'">
        </textarea>

        <span matSuffix>
            <ng-content select=[matSuffix]></ng-content>
        </span>

        <span class="d-flex mx-2" matPrefix>
            <ng-content select=[matPrefix]></ng-content>
        </span>

        <mat-error *ngIf="formGroup.get(controlName)?.errors">
            <span class="font-12">{{ formGroup.get(controlName)?.errors | validationHandler }}</span>
        </mat-error>
    </mat-form-field>
</div>
