<main class="d-flex flex-column justify-content-between h-100">
    <mat-drawer-container class="h-100" [hasBackdrop]="true">
        <mat-drawer #drawer mode="over">
            <del-header-categories></del-header-categories>
        </mat-drawer>

        <mat-drawer-content class="d-flex flex-column">
            <del-header [drawer]="drawer"></del-header>

            <section class="main-page d-flex flex-column flex-grow-1 h-100 position-relative">
                <!-- Breadcrumb Start -->
                <del-breadcrumb [ngClass]="{'d-none': hidden}"></del-breadcrumb>
                <!-- Breadcrumb End -->

                <router-outlet></router-outlet>
            </section>
            <del-footer></del-footer>
        </mat-drawer-content>
    </mat-drawer-container>
</main>
