::ng-deep .cdk-overlay-pane {
    .mat-mdc-dialog-container {
        min-width: 90%;
        padding: 0;
    }

    .mat-mdc-dialog-actions {
        box-sizing: border-box;
        margin: 0;
        padding: 1rem 1.5rem;
    }
}