<div class="product-card cursor-pointer bg-white border-radius-8 p-2" *ngIf="product" (isEnglish)="isEnglish = $event">
    <div class="img-box position-relative overflow-hidden">
        <!-- Thumbnail -->
        <ul class="thumbnail-img d-flex align-items-center justify-content-center gap-3 bg-white m-0 p-2 position-absolute w-100">
            <li class="thumb bg-white border cursor-pointer overflow-hidden"
                [ngClass]="{'border-primary': productImage.Location === selectedProductImage }" (click)="selectedProductImage = productImage.Location"
                *ngFor="let productImage of product.Images; let i=index">
                <ng-template [ngTemplateOutlet]="productImageRef" [ngTemplateOutletContext]="{ $implicit: productImage }"></ng-template>
            </li>
        </ul>

        <a class="primary-img d-block" [routerLink]="productRouterLink"
           [queryParams]="{ subCategoryId: product.ProductGroupId, productId: product.Id }">
            <ng-template [ngTemplateOutlet]="productImageRef"
                         [ngTemplateOutletContext]="{ $implicit: { Location: selectedProductImage || product.Images[0].Location } }">
            </ng-template>
        </a>

        <!-- Arrow label -->
        <span class="arrow-label-wrap position-absolute left-0" setRtl *ngIf="!product.AllowedToSell">
            <span class="arrow-label py-1 bg-pending d-inline-block text-white position-relative font-12">{{ 'SOLD_OUT' | translate }}</span>
        </span>

        <!-- Rating -->
        <div class="rating py-2 d-inline-flex align-items-center gap-0 d-none">
            <span class="stars px-2 d-flex align-items-center gap-1 font-14">
                4.5

                <svg class="text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="14" height="14">
                    <path fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd" />
                </svg>
            </span>

            <!-- reviews count -->
            <span class="px-2 d-flex align-items-center gap-1 font-14">245</span>
        </div>

        <!-- quick actions -->
        <ul class="quick-actions position-absolute d-inline-flex flex-column gap-3 p-0" setRtl>
            <li [placement]="isEnglish ? 'left' : 'right'"
                [ngbTooltip]="(product.isFavorite ? 'ACTIONS.REMOVE_FAVOURITES' : 'ACTIONS.ADD_FAVOURITES') | translate">
                <a class="wishlist-btn d-flex align-items-center justify-content-center position-relative border-radius-50 box-shadow"
                   [ngClass]="{'active': product.isFavorite}" (click)="doAction(product.isFavorite ? 'remove-favorite' : 'add-favorite')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16"
                         height="16">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                    </svg>
                </a>
            </li>

            <li [placement]="isEnglish ? 'left' : 'right'" [ngbTooltip]="'ACTIONS.QUICK_VIEW' | translate">
                <a class="viewproduct-btn d-flex align-items-center justify-content-center position-relative border-radius-50 box-shadow"
                   (click)="doAction('modal-view')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16"
                         height="16">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </a>
            </li>

            <li [placement]="isEnglish ? 'left' : 'right'" [ngbTooltip]="'ACTIONS.ADD_CART' | translate" *ngIf="product.AllowedToSell">
                <a class="addtocart-btn d-flex align-items-center justify-content-center position-relative border-radius-50 box-shadow"
                   (click)="doAction('add-to-cart')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16"
                         height="16">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <!-- Content Box -->
    <div class="content-box pt-2">
        <a class="text-dark text-decoration-none" [routerLink]="productRouterLink"
           [queryParams]="{ subCategoryId: product.Description, productId: product.Id }">
            <!-- sub category name -->
            <p class="text-capitalize text-middle font-14 px-1" *ngIf="product.ItemSubCategory">
                {{
                    (isEnglish ? product.ItemSubCategory.Description : product.ItemSubCategory.ArabicDescription) | lowercase
                }}
            </p>

            <h2 class="font-18 text-truncate m-0 mb-2 px-1" [ngbTooltip]="product.Description">{{ product.Description }}</h2>

            <span class="d-flex align-content-center font-18 fw-bold px-1" *ngIf="!product.NewPrice">
                <span>{{ formatNumber(product.ItemPrice) }}</span>
            </span>

            <span class="d-flex align-content-center font-18 fw-bold px-1 gap-3" *ngIf="product.NewPrice">
                <span>{{ formatNumber(product.NewPrice) }}</span>

                <del class="text-primary">{{ formatNumber(product.ItemPrice) }}</del>
            </span>
        </a>
    </div>
</div>

<ng-template #productImageRef let-productImage>
    <img class="p-1" [src]="productImage.Location" [alt]="product?.Description + '\'s Image'"
         (error)="productImage.Location = 'assets/images/common/Product_Image_Placeholder.png'" />
</ng-template>
